        <div class="footer">
            <div class="footerItem">
                <div class="footerItemLabel">Contact Us</div>
                <a href="mailto:hello@techatnyu.org">hello@techatnyu.org</a>
            </div>
            <div class="footerItem">
                <div class="footerItemLabel">Join The Community</div>
                <a href="https://stats.sender.net/forms/bD2Zye/view">Sign Up</a>
            </div>
        </div>

    </body>

</html>