<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta charset="utf-8">
        <title>Tech@NYU</title>
        <link rel="stylesheet" href="/style.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans">
    </head>
    <body>
        <div class="logo-container">
            <img class="logo" src="logo.png">
        </div>
        <nav class="navbar">
            <div class="line"></div>
            <div class="navbarItems">
                <a href="https://techatnyu.org/#about">About</a>
                <a href="https://techatnyu.org/team">Our Team</a>
                <a href="https://techatnyu.org/techtreks">Programs</a>
                <a href="https://techatnyu.org/#events">Events</a>
                <a href="https://techatnyu.org/contact">Contact Us</a>
            </div>
            <div class="line"></div>
        </nav>
